main{
   
    width: 100%;
    margin-left: 250px;
    padding: 20px;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  margin-top: 50px;
}

main h2{
    color:  #5a4d3e; 
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
    font-style: normal;
}


section{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.livro-exemple {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    transition: transform 0.3s ease;
    justify-content: space-between;
    height: 390px;
    width: 180px;
}

.livro-exemple:hover {
    transform: scale(1.1); 
}


.livro-exemple span{
    color:#5a4d3e;
    font-weight: bold;
}

.livro-exemple i{
    color: gray;
}


.livro-imagem {
    width: 100%; 
    height: 220px; 
    object-fit: cover;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.btn-reservar:hover{
    background-image: none !important;
    background-color: #5a4d3e;
    color: #000000;
}

.btn-indisponivel{
    
    color: red !important;
    font-weight: bolder;
    border: 0;

}

.btn-cancelar{
    color: white !important;
}

.btn-cancelar:hover{
    color:gray !important;
}

.button-aplicar-filtros{
    width: 125px;
    border: 0; 
    background-color: black; 
    color:  #5a4d3e; 
    padding:10px; 
    background-size: cover;
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
    font-style: normal;
}



.livro-container {
    position: relative;
    display: inline-block;
}


.favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: black;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}


.favorite-btn:hover {
    background-color: #000000;
    color: white;
}


.favorite-btn.favorited {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.favorite-btn.favorited:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}



@media (min-width: 800px) {
    .navbar{
        display: none !important;

    }

    
}

@media (max-width: 799px) {
    .aside2{
        display: none;

    }

    main{
        margin-left: 0;
    }

    
}