main{
   
    width: 100%;
    margin-left: 250px;
    padding: 20px;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  margin-top: 50px;
}

main div{
    display:flex; 
    justify-content: space-between; 
    margin-top: 20px; 
    flex-direction:column
}

main h2{
    color:  #5a4d3e; 
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
    font-style: normal;
}

main div h4{
    color:  #5a4d3e; 
    font-weight: 600 ;
}

main div p a{
    text-decoration: none;
    color: black;
}


@media (min-width: 800px) {
    .navbar{
        display: none !important;

    }

    
}


@media (max-width: 799px) {
    .aside2{
        display: none;

    }

    main{
        margin-left: 0;
    }
}