@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html, body{
    height: 100%;
    margin: auto
}

body{
    display: flex;
    gap: 20px
    
}


aside{
    width: 235px;
    height: 100%;
    background-color: black;
    background: url('/static/images/barra_lateral.png') no-repeat center center;
    background-size: cover; 
    margin-left: -30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

} 

.div-logout{
    margin-left: 50px;
    margin-bottom: 10px;
}

.div-logout i{
    color: #5a4d3e;
    font-size: 25px;
    font-weight: bold;
}

.div-logout a{
    color:#5a4d3e;
    text-decoration: none;
    font-size: 25px;
    font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.lista-lateral{
    list-style: none;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 17px;
    color: #5a4d3e ;
    
    
}

.lista-lateral li{
    margin-top: 15px;
    font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}



.form-addlivro label {
    display: block;
    font-weight: 400;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  margin-bottom: 8px; 
    
}

.form-addlivro input[type="text"],
.form-addlivro select, 
.form-addlivro input[type="date"],
.form-addlivro input[type="number"]
 {
    width: 100%;                      
    border: none;                    
    border-bottom: 1px solid #131313;    
    font-size: 14px;
    background: transparent;
    outline: none;     
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;  
  margin-bottom: 12px;          
}

.form-addlivro input[type="text"]:focus,
.form-addlivro select:focus, 
.form-addlivro input[type="date"]:focus,
.form-addlivro input[type="number"]:focus
{
    border-bottom: 1px solid #151515; 
}

.form-addlivro button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    color: #5a4d3e;
    font-weight: BOLD;
    font-size: larger;
    text-align: end;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  margin-bottom: 12px; 
}


.autor-ano {
    display: flex;
    justify-content: space-between;
}

.autor, .ano {
    width: 48%;
}


.categoria-colecao {
    display: flex;
    justify-content: space-between;
}

.categoria, .colecao {
    width: 48%; 
}


.custom-file-input {
    display: none; 
}

.custom-file-button {
    width: 70%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid black;
    transition: 300ms;
    
}

.custom-file-button:hover {
    background-color:#5a4d3e;
    transition: 300ms;
}



.file-name {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

main{
   
    width: 100%;
    margin-left: 250px;
    padding: 20px;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  margin-top: 0px;
  margin-top: 50px;
}

.main-actions{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.main-actions h2{
    color: #5a4d3e;
    font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
}

.button-aplicar-filtros{
    font-size: 14px;
    width: 155px;
    height: 60px;
    border: 0; 
    background-color: black; 
    color:  #5a4d3e; 
    padding:15px; 
    background-size: cover;
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
    font-style: normal;
}

.main-categorias{
    margin-top: 30px;
    font-family: "EB Garamond", serif;
}

.main-categorias h4{
    font-weight: 600;
    color: #5a4d3e;
}

.main-icons{
    display: flex;
    gap: 10px;
    color: #5a4d3e;
    font-size: large;
    align-items: end;
    justify-content: end;
}




@media (min-width: 800px) {
    .navbar{
        display: none !important;

    }

    
}


@media (max-width: 799px) {
    .aside2{
        display: none;

    }

    main{
        margin-left: 0;
    }
}