
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html, body{
    height: 100%;
    margin: auto
}

body{
    display: flex;
    gap: 20px
    
}



aside{
    width: 235px;
    height: 100%;
    background-color: black;
    background: url('/static/images/barra_lateral.png') no-repeat center center;
    background-size: cover; 
    margin-left: -30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

} 

.div-perfil{
    margin-left: 15px !important;
    margin-bottom: 50px;
    font-weight: 600;
}


.div-logout{
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.div-logout i{
    color: #5a4d3e;
    font-size: 25px;
    font-weight: bold;
}

.div-logout a{
    color:#5a4d3e;
    text-decoration: none;
    font-size: 25px;
    font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.lista-lateral{
    list-style: none;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 17px;
    color: #5a4d3e ;
    
    
}

.lista-lateral li{
    margin-top: 15px;
    font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}
.lista-lateral li a{
    text-decoration: none;
    color: #5a4d3e;
}
main{
   
    width: 100%;
    margin-left: 250px;
    padding: 20px;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  margin-top: 0px;
}

.search-filter{
    width: 100%;
    margin-top: 40px;
    display: flex ;
    flex-wrap: wrap;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
    align-items: center;
    justify-content: space-between;
}

.main-pesquisa{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    

}
.main-pesquisa hr{
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-top: -5px;
}
.main-input-pesquisa input[type="text"] {
    border: 0;
    outline: none;
    padding: 10px;
}



.main-filtros{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

.main-filtros select {
    border: none;
    outline: none; 
    background: none; 
    padding: 5px;
    text-align: end;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  color: #5a4d3e;
  font-weight:bold;
}

.button-add{
    background-color: #786b5d;
    color: white;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    border: 0;
}

.button-add:hover{
    background-color: #5a4d3e;
}


.main-letras{
    width: 100%;
    text-align: center;
   
}

.main-letras a{
    text-decoration: none;
    color: #5a4d3e;
    font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

.resultados{
    color: #5a4d3e;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;
  font-size: 18px;
}

.hr_resultados{
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-top: -2px;
}

section{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.livro-exemple {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    transition: transform 0.3s ease;
}

.livro-exemple:hover {
    transform: scale(1.1); 
}


.livro-exemple span{
    color:#5a4d3e;
    font-weight: bold;
}

.livro-exemple i{
    color: gray;
}


.livro-imagem {
    width: 100%; 
    height: 220px; 
    object-fit: cover;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}



.form-addlivro label {
    display: block;
    font-weight: 400;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  margin-bottom: 8px; 
    
}

.form-addlivro input[type="text"],
.form-addlivro select, 
.form-addlivro input[type="date"],
.form-addlivro input[type="number"]
 {
    width: 100%;                      
    border: none;                    
    border-bottom: 1px solid #131313;    
    font-size: 14px;
    background: transparent;
    outline: none;     
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;  
  margin-bottom: 12px;          
}

.form-addlivro input[type="text"]:focus,
.form-addlivro select:focus, 
.form-addlivro input[type="date"]:focus,
.form-addlivro input[type="number"]:focus
{
    border-bottom: 1px solid #151515; 
}

.form-addlivro button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    color: #5a4d3e;
    font-weight: BOLD;
    font-size: larger;
    text-align: end;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  margin-bottom: 12px; 
}


.autor-ano {
    display: flex;
    justify-content: space-between;
}

.autor, .ano {
    width: 48%; 
}

.categoria-colecao {
    display: flex;
    justify-content: space-between;
}

.categoria, .colecao {
    width: 48%; 
}


.custom-file-input {
    display: none;
}

.custom-file-button {
    width: 70%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid black;
    transition: 300ms;
    
}

.custom-file-button:hover {
    background-color:#5a4d3e;
    transition: 300ms;
}



.file-name {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.button-aplicar-filtros{
    width: 125px;
    border: 0; 
    background-color: black; 
    color:  #5a4d3e; 
    padding:10px; 
    background-size: cover;
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
    font-style: normal;
}


@media (min-width: 800px) {
    .navbar{
        display: none !important;

    }

    
}


@media (max-width: 799px) {
    .aside2{
        display: none;

    }

    main{
        margin-left: 0;
    }

    section{
        justify-content: center;
    }
}