@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html, body{
    height: 100%;
    margin: auto
}

body{
    display: flex;
    gap: 20px
    
}



aside{
    width: 235px;
    height: 100%;
    background-color: black;
    background: url('/static/images/barra_lateral.png') no-repeat center center;
    background-size: cover; 
    margin-left: -30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

} 

.div-perfil{
    margin-left: 15px !important;
    margin-bottom: 50px;
    font-weight: 600;
}


.div-logout{
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.div-logout i{
    color: #5a4d3e;
    font-size: 25px;
    font-weight: bold;
}

.div-logout a{
    color:#5a4d3e;
    text-decoration: none;
    font-size: 25px;
    font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.lista-lateral{
    list-style: none;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 17px;
    color: #5a4d3e ;
    
    
}

.lista-lateral li{
    margin-top: 15px;
    font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}
.lista-lateral li a{
    text-decoration: none;
    color: #5a4d3e;
}

@media (min-width: 800px) {
    .navbar{
        display: none !important;

    }

    
}


@media (max-width: 799px) {
    .aside2{
        display: none;

    }

    
}