<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    {% load static %}

    
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>

    <nav style="margin-top: 0px !important;" class="navbar fixed-top">
        <div style="background: url('') no-repeat center center !important; background-size: 100% auto !important; border: 0; margin-top: -10px !important; height: 57px;" class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div style="background-color: transparent !important; border: 0; " class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div style="background-color: transparent !important;" class="offcanvas-body">
                    <aside>
                        <button style="margin-left: 40px; margin-top: 20px;" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        <ul class="lista-lateral">
                            <li>BIBLIOTECA</li>
                            <li style="margin-left:15px; font-weight: 400" data-bs-toggle="modal" data-bs-target="#exampleModal">NOVO LIVRO+</li>
            <li style="margin-left:15px; font-weight: 400" data-bs-toggle="modal" data-bs-target="#exampleModal2">NOVA COLEÇÃO+</li>
            <li style="margin-left:15px; font-weight: 400" data-bs-toggle="modal" data-bs-target="#exampleModal3">NOVO AUTOR+</li>
            <li style="margin-left:15px; font-weight: 400" data-bs-toggle="modal" data-bs-target="#exampleModal4">NOVA CATEGORIA+</li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </nav>

    <aside class="aside2">
        <ul class="lista-lateral">
            <li>BIBLIOTECA</li>
            <li style="margin-left:15px; font-weight: 400" data-bs-toggle="modal" data-bs-target="#exampleModal">NOVO LIVRO+</li>
            <li style="margin-left:15px; font-weight: 400" data-bs-toggle="modal" data-bs-target="#exampleModal2">NOVA COLEÇÃO+</li>
            <li style="margin-left:15px; font-weight: 400" data-bs-toggle="modal" data-bs-target="#exampleModal3">NOVO AUTOR+</li>
            <li style="margin-left:15px; font-weight: 400" data-bs-toggle="modal" data-bs-target="#exampleModal4">NOVA CATEGORIA+</li>
        </ul>
    </aside>

    <!-- Modal Novo Livro -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"
                style="background: url('{% static 'images/card_modal.png' %}') no-repeat center center !important; background-size: 80% auto !important; height: 700px; border: 0; padding: 100px;">
                <div class="modal-body">
                    <div style="display: flex; align-items: end; justify-content: flex-end; width: 105%;">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <br>
                    <h4 style="font-family: MedievalSharp, cursive;
                    font-weight: bold;
                    font-style: normal;
                    color: #5a4d3e;">NOVO LIVRO+</h4>
                    <br>
                    <form class="form-addlivro" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <label for="{{ livro_form.nome.id_for_label }}">Nome:</label>
                            {{ livro_form.nome }}
                        </div>
                        
                        <div class="autor-ano">
                            <div class="autor">
                                <label for="{{ livro_form.autor.id_for_label }}">Autor:</label>
                                {{ livro_form.autor }}
                            </div>
                            
                            <div class="ano">
                                <label for="{{ livro_form.ano.id_for_label }}">Ano:</label>
                                {{ livro_form.ano }}
                            </div>
                        </div>
                    
                        <div class="categoria-colecao">
                            <div class="categoria">
                                <label for="{{ livro_form.categoria.id_for_label }}">Categoria:</label>
                                {{ livro_form.categoria }}
                            </div>
                            
                            <div class="colecao">
                                <label for="{{ livro_form.colecao.id_for_label }}">Coleção:</label>
                                {{ livro_form.colecao }}
                            </div>
                        </div>
                        
                        <div>
                            <label for="id_imagem">Imagem:</label>
                            <input type="file" id="id_imagem" name="imagem" class="custom-file-input" accept="image/*">
                            <label class="custom-file-button" for="id_imagem">Escolher Imagem</label>
                            <span class="file-name"></span>
                        </div>
                    
                        <button name="salvar_livro" type="submit"><u>ADICIONAR</u></button>
                    </form>
                    
                    <script>
                        document.getElementById("id_imagem").addEventListener("change", function (event) {
                            const fileName = event.target.files[0] ? event.target.files[0].name : "Nenhuma imagem selecionada";
                            document.querySelector(".file-name").textContent = fileName;
                        });
                        
                    </script>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Nova colecao -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"
                style="background: url('{% static 'images/card_modal.png' %}') no-repeat center center !important; background-size: 80% auto !important; height: 700px; border: 0; padding: 100px;">
                <div class="modal-body">
                    <div style="display: flex; align-items: end; justify-content: flex-end; width: 105%;">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <br>
                    <h4 style="font-family: MedievalSharp, cursive;
                    font-weight: bold;
                    font-style: normal;
                    color: #5a4d3e;">NOVA COLEÇÃO+</h4>
                    <br>
                    <form method="post" class="form-addlivro">
                        {% csrf_token %}
                        <label for="{{ colecao_form.nome.id_for_label }}">Nome da Coleção:</label>
                        {{ colecao_form.nome }}
                        <label for="{{ colecao_form.descricao.id_for_label }}">Descrição da Coleção:</label>
                        {{ colecao_form.descricao }}
                        
                        <br>
                        <button name="salvar_colecao" type="submit"><u>ADICIONAR</u></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Modal novo autor -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"
                style="background: url('{% static 'images/card_modal.png' %}') no-repeat center center !important; background-size: 80% auto !important; height: 700px; border: 0; padding: 100px;">
                <div class="modal-body">
                    <div style="display: flex; align-items: end; justify-content: flex-end; width: 105%;">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <br>
                    <h4 style="font-family: MedievalSharp, cursive;
                    font-weight: bold;
                    font-style: normal;
                    color: #5a4d3e;">NOVO AUTOR+</h4>
                    <br>
                    <form class="form-addlivro" method="post">
                        {% csrf_token %}
                        <label for="{{ autor_form.nome.id_for_label }}">Nome do Autor:</label>
                        {{ autor_form.nome }}
                        
                        <label for="{{ autor_form.biografia.id_for_label }}">Biografia:</label>
                        {{ autor_form.biografia }}
                        
                        <label for="{{ autor_form.aniversario.id_for_label }}">Data de Aniversário:</label>
                        {{ autor_form.aniversario }}
                        
                        <label for="{{ autor_form.nacionalidade.id_for_label }}">Nacionalidade:</label>
                        {{ autor_form.nacionalidade }}
                        
                        <button name="salvar_autor" type="submit"><u>ADICIONAR</u></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal nova categoria -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"
                style="background: url('{% static 'images/card_modal.png' %}') no-repeat center center !important; background-size: 80% auto !important; height: 700px; border: 0; padding: 100px;">
                <div class="modal-body">
                    <div style="display: flex; align-items: end; justify-content: flex-end; width: 105%;">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <br>
                    <h4 style="font-family: MedievalSharp, cursive;
                    font-weight: bold;
                    font-style: normal;
                    color: #5a4d3e;">NOVA CATEGORIA+</h4>
                    <br>
                    <form class="form-addlivro" method="post">
                        {% csrf_token %}
                        <label for="id_nome">Nome da Categoria:</label>
                        {{ categoria_form.nome }}
                    
                        <label for="id_descricao">Descrição:</label>
                        {{ categoria_form.descricao }}
                        
                        
                        <button name="salvar_categoria" type="submit"><u>ADICIONAR</u></button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <main>
        <search>
            <div class="main-pesquisa">
                <div class="main-input-pesquisa">
                    <i class="bi bi-search"></i>
                    <input placeholder="Pesquise por..." type="text">
                </div>
                <hr>
            </div>

            <div class="main-filtros">
                <span style="color: gray;">Filtrar por:</span>

                <select name="colecao-pesquisa" id="colecao" class="form-addlivro">
                    <option disabled selected>Coleção:</option>
                    {% for colecao in colecoes %}
                        <option value="{{ colecao.id }}">{{ colecao.nome }}</option>
                    {% endfor %}
                </select>
                <select name="autor-pesquisa" id="autor" class="form-addlivro">
                    <option disabled selected>Autor:</option>
                    {% for autor in autores %}
                        <option value="{{ autor.id }}">{{ autor.nome }}</option>
                    {% endfor %}
                </select>
            </div>
        </search>

        <br><br>
        <div class="main-letras">
            <a href="">123</a>
            <a href="">A</a>
            <a href="">B</a>
            <a href="">C</a>
            <a href="">D</a>
            <a href="">E</a>
            <a href="">F</a>
            <a href="">G</a>
            <a href="">H</a>
            <a href="">I</a>
            <a href="">J</a>
            <a href="">K</a>
            <a href="">L</a>
            <a href="">M</a>
            <a href="">N</a>
            <a href="">O</a>
            <a href="">P</a>
            <a href="">Q</a>
            <a href="">R</a>
            <a href="">S</a>
            <a href="">T</a>
            <a href="">U</a>
            <a href="">V</a>
            <a href="">W</a>
            <a href="">X</a>
            <a href="">Y</a>
            <a href="">Z</a>
        </div>
        <br><br>
        <span class="resultados">H</span>
        <hr class="hr_resultados">
        <br>
        <section>
            {% for livro in livros %}
            <div class="livro-exemple">
                {% if livro.imagem %}
                    <img src="{{ livro.imagem.url }}" alt="{{ livro.nome }}" style="max-width: 100px;">
                {% else %}
                    Sem imagem
                {% endif %}
                <span>{{ livro.nome }}</span>
                <i>{{ livro.autor.nome }}</i>
            </div>
            {% endfor %}

           

           
        </section>
    </main>

</body>

</html>
