<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - Livros</title>

    
    {% load static %}

    
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>

    <nav style="margin-top: 0px !important;" class="navbar fixed-top">
        <div style="background: url('') no-repeat center center !important; background-size: 100% auto !important; border: 0; margin-top: -10px !important; height: 57px;" class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                
            </button>
            <div style="background-color: transparent !important; border: 0; " class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div style="background-color: transparent !important;" class="offcanvas-body">
                    <aside>
                        <button style="margin-left: 40px; margin-top: 20px;" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        <ul class="lista-lateral">
                            <li style="margin-left:15px; font-weight:6400"><a style="text-decoration:none; color: #5a4d3e" href="{% url 'index' %}">LIVROS</a></li>
                            <li style="margin-left:25px; font-weight: 400"><a data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-decoration:none; color: #5a4d3e">NOVO LIVRO+</a></li>
                            <li style="margin-left:15px; font-weight: 600"><a style="text-decoration:none; color: #5a4d3e" href="{% url 'autores' %}">AUTORES</a></li>
                            <li style="margin-left:15px; font-weight: 600"><a style="text-decoration:none; color: #5a4d3e" href="{% url 'colecoes' %}">COLEÇÕES</a></li>
                            <li style="margin-left:15px; font-weight: 600"><a style="text-decoration:none; color: #5a4d3e" href="{% url 'categorias' %}">CATEGORIAS</a></li>
                        </ul>
                    </aside>
                    
                </div>
            </div>
        </div>
    </nav>

    <aside class="aside2">
        <ul class="lista-lateral">
            <li style="margin-left:15px; font-weight: 600"><a style="text-decoration:none; color: #5a4d3e" href="{% url 'index' %}">LIVROS</a></li>
            <li style="margin-left:25px; font-weight: 400"><a data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-decoration:none; color: #5a4d3e">NOVO LIVRO+</a></li>
            <li style="margin-left:15px; font-weight: 600"><a style="text-decoration:none; color: #5a4d3e" href="{% url 'autores' %}">AUTORES</a></li>
            <li style="margin-left:15px; font-weight: 600"><a style="text-decoration:none; color: #5a4d3e" href="{% url 'colecoes' %}">COLEÇÕES</a></li>
            <li style="margin-left:15px; font-weight: 600"><a style="text-decoration:none; color: #5a4d3e" href="{% url 'categorias' %}">CATEGORIAS</a></li>
        </ul>
    </aside>

    <!-- Modal Novo Livro -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"
                style="background: url('{% static 'images/card_modal.png' %}') no-repeat center center !important; background-size: 80% auto !important; height: 700px; border: 0; padding: 100px;">
                <div class="modal-body">
                    <div style="display: flex; align-items: end; justify-content: flex-end; width: 105%;">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <br>
                    <h4 style="font-family: MedievalSharp, cursive;
                    font-weight: bold;
                    font-style: normal;
                    color: #5a4d3e;">NOVO LIVRO+</h4>
                    <br>
                    <form class="form-addlivro" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <label for="{{ livro_form.nome.id_for_label }}">Nome:</label>
                            {{ livro_form.nome }}
                        </div>
                        <div>
                            <label for="{{ livro_form.sinopse.id_for_label }}">Sinopse:</label>
                            {{ livro_form.sinopse }}
                        </div>
                        
                        <div class="autor-ano">
                            <div class="autor">
                                <label for="{{ livro_form.autor.id_for_label }}">Autor:</label>
                                {{ livro_form.autor }}
                            </div>
                            
                            <div class="ano">
                                <label for="{{ livro_form.ano.id_for_label }}">Ano:</label>
                                {{ livro_form.ano }}
                            </div>
                        </div>
                    
                        <div class="categoria-colecao">
                            <div class="categoria">
                                <label for="{{ livro_form.categoria.id_for_label }}">Categoria:</label>
                                {{ livro_form.categoria }}
                            </div>
                            
                            <div class="colecao">
                                <label for="{{ livro_form.colecao.id_for_label }}">Coleção:</label>
                                {{ livro_form.colecao }}
                            </div>
                        </div>
                        
                        <div>
                            <input type="file" id="id_imagem" name="imagem" class="custom-file-input" accept="image/*">
                            <label class="custom-file-button" for="id_imagem">Escolher Imagem</label>
                            <span class="file-name"></span>
                        </div>
                    
                        <button name="salvar_livro" type="submit"><u>ADICIONAR</u></button>
                    </form>
                    
                    <script>
                        document.getElementById("id_imagem").addEventListener("change", function (event) {
                            const fileName = event.target.files[0] ? event.target.files[0].name : "Nenhuma imagem selecionada";
                            document.querySelector(".file-name").textContent = fileName;
                        });
                        
                    </script>
                    
                    
                </div>
            </div>
        </div>
    </div>


    <main>
        
        <form class="search-filter" method="get">
            <div class="main-pesquisa">
                <div class="main-input-pesquisa">
                    <button style="border: 0; background-color: transparent;" type="submit" name="pesquisar">
                        <i class="bi bi-search"></i>
                    </button>                    
                    <input placeholder="Pesquise por..." name="q" type="text" value="{{ request.GET.q }}">
                </div>
                <hr>
            </div>

            <div class="main-filtros">
                <span style="color: gray;">Filtrar por:</span>

                <select name="colecao_pesquisa" id="colecao" class="form-addlivro">
                    <option disabled {% if not request.GET.colecao_pesquisa %}selected{% endif %}>Coleção:</option>
                    {% for colecao in colecoes %}
                        <option value="{{ colecao.id }}" {% if request.GET.colecao_pesquisa == colecao.id|stringformat:"s" %}selected{% endif %}>
                            {{ colecao.nome }}
                        </option>
                    {% endfor %}
                </select>
                
                <select name="autor_pesquisa" id="autor" class="form-addlivro">
                    <option disabled {% if not request.GET.autor_pesquisa %}selected{% endif %}>Autor:</option>
                    {% for autor in autores %}
                        <option value="{{ autor.id }}" {% if request.GET.autor_pesquisa == autor.id|stringformat:"s" %}selected{% endif %}>
                            {{ autor.nome }}
                        </option>
                    {% endfor %}
                </select>

            <button style="border: 0; background-color: #5a4d3e; color: white; padding:5px" type="submit" name="pesquisar">Aplicar Filtros</button>
                
            </div>
        <form>

        

        <br><br>
        <div class="main-letras">
            <a href="{% url 'index_com_letra' 'TODOS' %}" class="{% if letra == 'TODOS' %}selected{% endif %}">TODOS</a>
    <a href="{% url 'index_com_letra' '123' %}" class="{% if letra == '123' %}selected{% endif %}">123</a>
    <a href="{% url 'index_com_letra' 'A' %}" class="{% if letra == 'A' %}selected{% endif %}">A</a>
    <a href="{% url 'index_com_letra' 'B' %}" class="{% if letra == 'B' %}selected{% endif %}">B</a>
    <a href="{% url 'index_com_letra' 'C' %}" class="{% if letra == 'C' %}selected{% endif %}">C</a>
    <a href="{% url 'index_com_letra' 'D' %}" class="{% if letra == 'D' %}selected{% endif %}">D</a>
    <a href="{% url 'index_com_letra' 'E' %}" class="{% if letra == 'E' %}selected{% endif %}">E</a>
    <a href="{% url 'index_com_letra' 'F' %}" class="{% if letra == 'F' %}selected{% endif %}">F</a>
    <a href="{% url 'index_com_letra' 'G' %}" class="{% if letra == 'G' %}selected{% endif %}">G</a>
    <a href="{% url 'index_com_letra' 'H' %}" class="{% if letra == 'H' %}selected{% endif %}">H</a>
    <a href="{% url 'index_com_letra' 'I' %}" class="{% if letra == 'I' %}selected{% endif %}">I</a>
    <a href="{% url 'index_com_letra' 'J' %}" class="{% if letra == 'J' %}selected{% endif %}">J</a>
    <a href="{% url 'index_com_letra' 'K' %}" class="{% if letra == 'K' %}selected{% endif %}">K</a>
    <a href="{% url 'index_com_letra' 'L' %}" class="{% if letra == 'L' %}selected{% endif %}">L</a>
    <a href="{% url 'index_com_letra' 'M' %}" class="{% if letra == 'M' %}selected{% endif %}">M</a>
    <a href="{% url 'index_com_letra' 'N' %}" class="{% if letra == 'N' %}selected{% endif %}">N</a>
    <a href="{% url 'index_com_letra' 'O' %}" class="{% if letra == 'O' %}selected{% endif %}">O</a>
    <a href="{% url 'index_com_letra' 'P' %}" class="{% if letra == 'P' %}selected{% endif %}">P</a>
    <a href="{% url 'index_com_letra' 'Q' %}" class="{% if letra == 'Q' %}selected{% endif %}">Q</a>
    <a href="{% url 'index_com_letra' 'R' %}" class="{% if letra == 'R' %}selected{% endif %}">R</a>
    <a href="{% url 'index_com_letra' 'S' %}" class="{% if letra == 'S' %}selected{% endif %}">S</a>
    <a href="{% url 'index_com_letra' 'T' %}" class="{% if letra == 'T' %}selected{% endif %}">T</a>
    <a href="{% url 'index_com_letra' 'U' %}" class="{% if letra == 'U' %}selected{% endif %}">U</a>
    <a href="{% url 'index_com_letra' 'V' %}" class="{% if letra == 'V' %}selected{% endif %}">V</a>
    <a href="{% url 'index_com_letra' 'W' %}" class="{% if letra == 'W' %}selected{% endif %}">W</a>
    <a href="{% url 'index_com_letra' 'X' %}" class="{% if letra == 'X' %}selected{% endif %}">X</a>
    <a href="{% url 'index_com_letra' 'Y' %}" class="{% if letra == 'Y' %}selected{% endif %}">Y</a>
    <a href="{% url 'index_com_letra' 'Z' %}" class="{% if letra == 'Z' %}selected{% endif %}">Z</a>
        </div>
        <br><br>
        <span class="resultados">
            {% if letra is None %}
                TODOS
            {% else %}
                {{ letra }}
            {% endif %}
        </span>
        
        <hr class="hr_resultados">
        <br>
        <section>
            {% for livro in livros %}
            <a style="text-decoration:none" href="{% url 'ver_livro' livro.id %}">
                <div class="livro-exemple">
                    {% if livro.imagem %}
                    <img src="{{ livro.imagem.url }}" alt="{{ livro.nome }}" class="livro-imagem">
                    {% else %}
                        Sem imagem
                    {% endif %}
                    <span>{{ livro.nome }}</span>
                    <i>{{ livro.autor.nome }}</i>
                </div>
            <a/>
            {% endfor %}

           

           
        </section>
    </main>

</body>

</html>
