{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body style="background-image: url('{% static "images/background_login.png" %}');">

    <form style="margin-bottom: 80px" method="post">
        {% csrf_token %}
        <span class="title">CADASTRAR</span>

        
        <div class="input-main">
            <span>Usuário:</span>
            <div class="input-action">
                <i class="bi bi-person-fill"></i>
                <input type="text" name="username" placeholder="Digite seu usuário:" required>
            </div>
            <hr>
        </div>
        <div class="input-main">
            <span>E-mail:</span>
            <div class="input-action">
                <i class="bi bi-envelope-fill"></i>
                <input type="email" name="email" placeholder="Digite seu e-mail:" required>
            </div>
            <hr>
        </div>
        <div class="input-main">
            <span>Tipo de Conta:</span>
            <div class="input-action">
                <i class="bi bi-person-badge-fill"></i>
                {{ form.is_superuser }}
            </div>
            <hr>
            <span style="font-size: 15px; color: black"> *Com Super Usuário, poderá cadastrar, editar e deletar objetos do site.</span>
        </div>        
        <div class="input-main">
            <span>Senha:</span>
            <div class="input-action">
                <i class="bi bi-lock-fill"></i>
                <input type="password" name="password1" placeholder="Digite sua senha:" required>
            </div>
            <hr>
        </div>
        <div class="input-main">
            <span>Confirme sua Senha:</span>
            <div class="input-action">
                <i class="bi bi-lock-fill"></i>
                <input type="password" name="password2" placeholder="Digite novamente sua senha:" required>
            </div>
            <hr>
        </div>
        {% if form.errors %}
            <div style="font-size: 15px; color: black" class="error-msg">
                <p>Corrija os erros abaixo:</p>
                {{ form.errors }}
            </div>
        {% endif %}
        <div class="options">
            <button type="submit"><u>CRIAR CONTA</u></button>
            <span>ou</span>
            <span>Já tem conta? <a href="{% url 'usuarios:login' %}">Entrar</a></span>
        </div>
    </form>

</body>
</html>
